<!doctype html>
<title>XML Parser</title>
<html>
<body>
    <p>Click on the "browse" button to upload a file:</p>
    <form action="/api/upload" enctype="multipart/form-data" method="post">
        <input type="file" id="myFile" name="filename">
        <input type="submit" value="Submit">
    </form>
    {% if filename %}
    <p>Showing File: {{ filename }}</p>
    <p>API Route:</p>
    <a href="{{ '/api/file/%s'%filename }}" id="apiLink" target="_blank">http://127.0.0.1:5000/api/file/{{filename}}</a>
    {% endif %}
    {% if json_text %}
    <p>{{ json_text }}</p>
    {% endif %}
</body>
</html>